Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2022-02, with the labels that each got.

#189 [Docs] Add decision record for core language strategy
  decisions/DR004-Core-language-support.md
Labels: decision record

#203 [Docs] Fix manual Docs docker image build instruction
  doc/README.md
Labels: documentation

#207 [Build] Simplify Python install build target
  src/openassetio-python/CMakeLists.txt
Labels: build

#194 [Docs] Add decision record for generic string type
  decisions/DR006-Generic-string-type.md
Labels: decision record

#205 [Doc] Development process improvements
  contributing/CODE_REVIEWS.md
  contributing/COMMITS.md
  contributing/PROCESS.md
  contributing/PULL_REQUESTS.md
Labels: documentation

#211 Merge main into feature/181-coreCppBuild
  .github/workflows/test.yml
  README.md
  contributing/CODE_REVIEWS.md
  contributing/CODING_STANDARDS.md
  contributing/COMMITS.md
  contributing/PROCESS.md
  contributing/PULL_REQUESTS.md
  decisions/DR004-Core-language-support.md
  doc/README.md
  python/openassetio/pluginSystem/ManagerPlugin.py
  python/openassetio/pluginSystem/PluginSystem.py
  python/openassetio/pluginSystem/PluginSystemManagerFactory.py
  python/openassetio/pluginSystem/PluginSystemPlugin.py
  tests/openassetio/pluginSystem/test_pluginsystem.py
Labels: merge

#204 [CI] Publish docs artifacts
  .github/workflows/test.yml
Labels: documentation, ci

#220 [Docs] Fix wording: through not thorough
  doc/src/MainPage.dox
Labels: documentation

#217 [Tests] Fix `openassetio.test.manager` tests on Windows
  tests/openassetio/test/manager/test_harness.py
  tests/openassetio/test/manager/test_main.py
Labels: ci, test

#219 [SAM] Add `managementPolicy` implementation
  python/openassetio/test/manager/apiComplianceSuite.py
  python/openassetio/test/manager/harness.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  resources/examples/manager/SampleAssetManager/tests/fixtures.py
  resources/examples/manager/SampleAssetManager/tests/test_apiCompliance.py
  tests/openassetio/test/manager/resources/fixtures_cliFail.py
  tests/openassetio/test/manager/resources/fixtures_cliPass.py
  tests/openassetio/test/manager/resources/plugins/StubManager.py
  tests/openassetio/test/manager/test_harness.py
Labels: test

#214 Use `when`/`then` form for test names - Part 1
  python/openassetio/hostAPI/Session.py
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/hostAPI/test_session.py
  tests/openassetio/hostAPI/test_terminology.py
  tests/openassetio/hostAPI/test_transactions.py
  tests/openassetio/test_logging.py
  tests/openassetio/test_specification.py
Labels: test

#221 [Test] Provide a suitably configured locale to `FixtureAugmentedTestCase`
  python/openassetio/Specification.py
  python/openassetio/test/manager/_implementation.py
  python/openassetio/test/manager/harness.py
  python/openassetio/test/manager/specifications.py
  python/openassetio/test/specifications.py
  tests/openassetio/test/manager/conftest.py
  tests/openassetio/test/manager/resources/suite_executeSuiteTests.py
  tests/openassetio/test/manager/test__implementation.py
  tests/openassetio/test/manager/test_harness.py
  tests/openassetio/test_specification.py
Labels: test

#216 Merge `main` into `feature/96-exampleManager`
  .github/workflows/test.yml
  README.md
  contributing/CODE_REVIEWS.md
  contributing/CODING_STANDARDS.md
  contributing/COMMITS.md
  contributing/PROCESS.md
  contributing/PULL_REQUESTS.md
  decisions/DR004-Core-language-support.md
  doc/README.md
  doc/src/MainPage.dox
  python/openassetio/hostAPI/Session.py
  python/openassetio/pluginSystem/ManagerPlugin.py
  python/openassetio/pluginSystem/PluginSystem.py
  python/openassetio/pluginSystem/PluginSystemManagerFactory.py
  python/openassetio/pluginSystem/PluginSystemPlugin.py
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/hostAPI/test_session.py
  tests/openassetio/hostAPI/test_terminology.py
  tests/openassetio/hostAPI/test_transactions.py
  tests/openassetio/pluginSystem/test_pluginsystem.py
  tests/openassetio/test_logging.py
  tests/openassetio/test_specification.py
Labels: merge

#223 Add `SampleAssetManager` and `test.manager` harness
  doc/src/ForManagers.dox
  doc/src/Testing.dox
  python/openassetio/Specification.py
  python/openassetio/managerAPI/ManagerInterface.py
  python/openassetio/pluginSystem/PluginSystem.py
  python/openassetio/test/__init__.py
  python/openassetio/test/manager/__init__.py
  python/openassetio/test/manager/__main__.py
  python/openassetio/test/manager/_implementation.py
  python/openassetio/test/manager/apiComplianceSuite.py
  python/openassetio/test/manager/harness.py
  python/openassetio/test/manager/specifications.py
  python/openassetio/test/specifications.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/__init__.py
  resources/examples/manager/SampleAssetManager/tests/fixtures.py
  resources/examples/manager/SampleAssetManager/tests/test_apiCompliance.py
  tests/conftest.py
  tests/openassetio/pluginSystem/test_pluginsystemmanagerfactory.py
  tests/openassetio/test/manager/__init__.py
  tests/openassetio/test/manager/conftest.py
  tests/openassetio/test/manager/resources/fixtures_cliFail.py
  tests/openassetio/test/manager/resources/fixtures_cliPass.py
  tests/openassetio/test/manager/resources/fixtures_executeSuiteTests.py
  tests/openassetio/test/manager/resources/plugins/StubManager.py
  tests/openassetio/test/manager/resources/suite_alwaysFail.py
  tests/openassetio/test/manager/resources/suite_alwaysPass.py
  tests/openassetio/test/manager/resources/suite_executeSuiteTests.py
  tests/openassetio/test/manager/test__implementation.py
  tests/openassetio/test/manager/test_harness.py
  tests/openassetio/test/manager/test_main.py
  tests/openassetio/test_specification.py
Labels: test, examples

#218 [CI] Build and test via CTest
  .github/workflows/test.yml
  .gitignore
  BUILDING.md
  CMakeLists.txt
  README.md
  cmake/DefaultTargetProperties.cmake
  resources/build/Vagrantfile
  resources/build/bootstrap-ubuntu-20.04.sh
  resources/build/conanfile.txt
  setup.cfg
  src/openassetio-python/CMakeLists.txt
Labels: ci, C++

#231 [Core] Remove context passed to `isEntityReference`
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  tests/openassetio/hostAPI/test_manager.py
Labels: api change

#224 [Docs] Add string encoding decision record
  decisions/DR005-String-encoding.md
Labels: decision record

#232 [Test] Fix inconsistencies in `test.manager` fixture keys
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/SampleAssetManager/tests/fixtures.py
  tests/openassetio/test/manager/resources/fixtures_cliFail.py
  tests/openassetio/test/manager/resources/fixtures_cliPass.py
Labels: test

#227 [CI] Add Clang-Tidy and Cpplint checks
  .clang-tidy
  .github/workflows/code-quality.yml
  .github/workflows/test.yml
  CMakeLists.txt
  cmake/CompilerWarnings.cmake
  cmake/DefaultTargetProperties.cmake
  cmake/StaticAnalyzers.cmake
  contributing/CODING_STANDARDS.md
  resources/build/bootstrap-ubuntu-20.04.sh
  src/CPPLINT.cfg
  src/openassetio-core/managerAPI/ManagerInterface.cpp
  src/openassetio-python/_openassetio.cpp
Labels: ci, C++, build

#233 [Core] Remove optional entity ref from `managementPolicy`
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  resources/examples/manager/SampleAssetManager/tests/fixtures.py
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/test/manager/resources/fixtures_cliFail.py
  tests/openassetio/test/manager/resources/fixtures_cliPass.py
  tests/openassetio/test/manager/resources/plugins/StubManager.py
Labels: api change

#234 [Test] Fix locale used in `apiComplianceSuite`
  python/openassetio/test/manager/apiComplianceSuite.py
  python/openassetio/test/manager/harness.py
  tests/openassetio/test/manager/test_harness.py
Labels: test

#241 [API] Rename logging module to log
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  python/openassetio/_core/debug.py
  python/openassetio/constants.py
  python/openassetio/hostAPI/Session.py
  python/openassetio/log.py
  python/openassetio/managerAPI/HostSession.py
  python/openassetio/test/manager/_implementation.py
  tests/openassetio/hostAPI/test_session.py
  tests/openassetio/managerAPI/test_hostsession.py
  tests/openassetio/pluginSystem/test_pluginsystem.py
  tests/openassetio/pluginSystem/test_pluginsystemmanagerfactory.py
  tests/openassetio/test/manager/conftest.py
  tests/openassetio/test_imports.py
  tests/openassetio/test_log.py
Labels: documentation, api change, test

#242 [Docs] Update commit component tags in `COMMITS.md`
  contributing/COMMITS.md
Labels: documentation
