Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2022-08, with the labels that each got.

#541 [Core] Migrate `HostSession` logging to C++ and refactor
  RELEASE_NOTES.md
  python/openassetio/hostApi/ManagerFactory.py
  python/openassetio/managerApi/HostSession.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/managerApi/__init__.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/perftest/perftest.cpp
  src/openassetio-core/hostApi/ManagerFactory.cpp
  src/openassetio-core/include/openassetio/LoggerInterface.hpp
  src/openassetio-core/include/openassetio/managerApi/HostSession.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/managerApi/HostSession.cpp
  src/openassetio-python/LoggerInterfaceBinding.cpp
  src/openassetio-python/managerApi/HostSessionBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/openassetio-core/managerApi/HostSessionTest.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
  tests/python/openassetio/hostApi/test_terminology.py
  tests/python/openassetio/managerApi/test_hostsession.py
  tests/python/openassetio/managerApi/test_managerinterface.py
Labels: api change, C++

#539 [Core] Add `createPluginSystemManagerImplementationFactory`
  RELEASE_NOTES.md
  decisions/DR009-Batch-method-result-types.md
  doc/Doxyfile
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Glossary.dox
  doc/src/MainPage.dox
  doc/src/Testing.dox
  python/openassetio/pluginSystem/PythonPluginSystem.py
  python/openassetio/pluginSystem/PythonPluginSystemManagerImplementationFactory.py
  python/openassetio/pluginSystem/PythonPluginSystemManagerPlugin.py
  python/openassetio/pluginSystem/PythonPluginSystemPlugin.py
  python/openassetio/pluginSystem/__init__.py
  python/openassetio/test/manager/_implementation.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/__init__.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/__init__.py
  src/openassetio-core/include/openassetio/hostApi/ManagerFactory.hpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/bridge/CMakeLists.txt
  src/openassetio-python/bridge/include/openassetio/python/hostApi.hpp
  src/openassetio-python/bridge/python/hostApi.cpp
  src/openassetio-python/module/CMakeLists.txt
  src/openassetio-python/module/ContextBinding.cpp
  src/openassetio-python/module/LoggerInterfaceBinding.cpp
  src/openassetio-python/module/PyRetainingSharedPtr.hpp
  src/openassetio-python/module/TraitsDataBinding.cpp
  src/openassetio-python/module/_openassetio.cpp
  src/openassetio-python/module/_openassetio.hpp
  src/openassetio-python/module/hostApi/HostInterfaceBinding.cpp
  src/openassetio-python/module/hostApi/ManagerBinding.cpp
  src/openassetio-python/module/hostApi/ManagerFactoryBinding.cpp
  src/openassetio-python/module/hostApi/ManagerImplementationFactoryInterfaceBinding.cpp
  src/openassetio-python/module/managerApi/HostBinding.cpp
  src/openassetio-python/module/managerApi/HostSessionBinding.cpp
  src/openassetio-python/module/managerApi/ManagerInterfaceBinding.cpp
  src/openassetio-python/module/managerApi/ManagerStateBaseBinding.cpp
  src/openassetio-python/private/include/openassetio/private/python/pointers.hpp
  tests/openassetio-python/CMakeLists.txt
  tests/openassetio-python/PyRetainingSharedPtrTest.cpp
  tests/openassetio-python/_openassetio_test.cpp
  tests/openassetio-python/hostApiTest.cpp
  tests/python/openassetio/pluginSystem/resources/pathA/modulePlugin.py
  tests/python/openassetio/pluginSystem/resources/pathB/packagedPlugin/PackagePlugin.py
  tests/python/openassetio/pluginSystem/resources/pathB/packagedPlugin/__init__.py
  tests/python/openassetio/pluginSystem/resources/pathC/modulePlugin.py
  tests/python/openassetio/pluginSystem/test_pythonpluginsystem.py
  tests/python/openassetio/pluginSystem/test_pythonpluginsystemmanagerimplementationfactory.py
  tests/python/openassetio/test/manager/resources/plugins/StubManager.py
  tests/python/openassetio/test/manager/test_main.py
  tests/python/openassetio/test_imports.py
  tests/python/openassetio_test/test_PyRetainingSharedPtr.py
  tests/python/openassetio_test/test_hostApi.py
Labels: C++

#545 [Core] Invert log severity constant order
  RELEASE_NOTES.md
  python/openassetio/log.py
  src/openassetio-core/include/openassetio/LoggerInterface.hpp
  tests/python/openassetio/test/manager/test_main.py
  tests/python/openassetio/test_log.py
Labels: api change

#548 [Docs] Decision records for entity reference validation workflow
  decisions/DR011-Entity-reference-type-safety.md
  decisions/DR012-Entity-reference-validation-workflow.md
Labels: decision record

#552 Migrate Python loggers to C++
  RELEASE_NOTES.md
  python/openassetio/_core/debug.py
  python/openassetio/log.py
  python/openassetio/managerApi/ManagerInterface.py
  resources/perftest/perftest.cpp
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/hostApi/ManagerFactory.cpp
  src/openassetio-core/hostApi/ManagerImplementationFactoryInterface.cpp
  src/openassetio-core/include/openassetio/hostApi/ManagerFactory.hpp
  src/openassetio-core/include/openassetio/hostApi/ManagerImplementationFactoryInterface.hpp
  src/openassetio-core/include/openassetio/log/ConsoleLogger.hpp
  src/openassetio-core/include/openassetio/log/LoggerInterface.hpp
  src/openassetio-core/include/openassetio/log/SeverityFilter.hpp
  src/openassetio-core/include/openassetio/managerApi/HostSession.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/log/ConsoleLogger.cpp
  src/openassetio-core/log/LoggerInterface.cpp
  src/openassetio-core/log/SeverityFilter.cpp
  src/openassetio-core/managerApi/HostSession.cpp
  src/openassetio-python/bridge/include/openassetio/python/hostApi.hpp
  src/openassetio-python/bridge/python/hostApi.cpp
  src/openassetio-python/module/CMakeLists.txt
  src/openassetio-python/module/_openassetio.cpp
  src/openassetio-python/module/_openassetio.hpp
  src/openassetio-python/module/hostApi/ManagerFactoryBinding.cpp
  src/openassetio-python/module/hostApi/ManagerImplementationFactoryInterfaceBinding.cpp
  src/openassetio-python/module/log/ConsoleLoggerBinding.cpp
  src/openassetio-python/module/log/LoggerInterfaceBinding.cpp
  src/openassetio-python/module/log/SeverityFilterBinding.cpp
  src/openassetio-python/module/managerApi/HostSessionBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/openassetio-core/managerApi/HostSessionTest.cpp
  tests/openassetio-python/CMakeLists.txt
  tests/openassetio-python/hostApiTest.cpp
  tests/python/openassetio/test/manager/test_main.py
  tests/python/openassetio/test_log.py
Labels: C++

#560 `isEntityReference` refactor
  RELEASE_NOTES.md
  decisions/DR011-Entity-reference-type-safety.md
  decisions/DR012-Entity-reference-validation-workflow.md
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/Glossary.dox
  doc/src/Testing.dox
  python/openassetio/constants.py
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  src/openassetio-core/include/openassetio/EntityReference.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
Labels: api change

#559 [Docs] Frame `README.md` in terms of the problem
  README.md
Labels: documentation

#562 [Core] Migrate `isEntityReferenceString` to C++
  RELEASE_NOTES.md
  doc/src/ForHosts.dox
  doc/src/Glossary.dox
  doc/src/Testing.dox
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.hpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/EntityReference.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-python/module/hostApi/ManagerBinding.cpp
  src/openassetio-python/module/managerApi/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/python/openassetio/hostApi/test_manager.py
Labels: C++

#563 [Docs] Fix `README.md` heading case
  README.md
Labels: documentation

#565 [Core] Add `Manager.createEntityReference`
  RELEASE_NOTES.md
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-python/module/hostApi/ManagerBinding.cpp
  tests/python/openassetio/hostApi/test_manager.py
Labels: C++

#567 [Core] Update Manager to expect EntityReference
  RELEASE_NOTES.md
  doc/src/Examples.dox
  python/openassetio/exceptions.py
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
Labels: documentation, test

#569 [Core] Add BatchElementError
  python/openassetio/__init__.py
  src/openassetio-core-c/include/openassetio/c/errors.h
  src/openassetio-core/include/openassetio/BatchElementError.hpp
  src/openassetio-core/include/openassetio/errors.h
  src/openassetio-python/module/BatchElementErrorBinding.cpp
  src/openassetio-python/module/CMakeLists.txt
  src/openassetio-python/module/_openassetio.cpp
  src/openassetio-python/module/_openassetio.hpp
  tests/openassetio-core/BatchElementErrorTest.cpp
  tests/openassetio-core/CMakeLists.txt
  tests/python/openassetio/test_batchelementerror.py
Labels: C++, Python

#574 [Core] Remove `Manager.prefetch`
  RELEASE_NOTES.md
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
Labels: api change

#575 [Docs] Ensure consistent use of reverse-dns identifiers
  python/openassetio/hostApi/Manager.py
  python/openassetio/pluginSystem/PythonPluginSystemManagerPlugin.py
  src/openassetio-core/include/openassetio/hostApi/HostInterface.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/Host.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
Labels: documentation

#571 [Core] Migrate `resolve` to C++ with callback-based API
  RELEASE_NOTES.md
  doc/src/EntitiesTraitsSpecifications.dox
  doc/src/ForManagers.dox
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/bal.py
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  resources/examples/manager/BasicAssetLibrary/tests/fixtures.py
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.hpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/BatchElementError.hpp
  src/openassetio-core/include/openassetio/EntityReference.hpp
  src/openassetio-core/include/openassetio/errors.h
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-python/module/BatchElementErrorBinding.cpp
  src/openassetio-python/module/managerApi/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
  tests/python/openassetio/test_batchelementerror.py
Labels: api change

#579 [CI] Bump conan version
  resources/build/requirements.txt
Labels: ci, build

#578 [Core] Use scoped enum for Context and LoggerInterface
  RELEASE_NOTES.md
  contributing/CODING_STANDARDS.md
  python/openassetio/_core/debug.py
  python/openassetio/pluginSystem/PythonPluginSystem.py
  python/openassetio/pluginSystem/PythonPluginSystemManagerImplementationFactory.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  src/openassetio-core/include/openassetio/Context.hpp
  src/openassetio-core/include/openassetio/enum.hpp
  src/openassetio-core/include/openassetio/log/LoggerInterface.hpp
  src/openassetio-core/include/openassetio/log/SeverityFilter.hpp
  src/openassetio-core/log/ConsoleLogger.cpp
  src/openassetio-core/log/SeverityFilter.cpp
  src/openassetio-python/module/ContextBinding.cpp
  src/openassetio-python/module/log/LoggerInterfaceBinding.cpp
  tests/python/openassetio/hostApi/test_manager.py
  tests/python/openassetio/pluginSystem/test_pythonpluginsystemmanagerimplementationfactory.py
  tests/python/openassetio/test/manager/test_harness.py
  tests/python/openassetio/test_context.py
  tests/python/openassetio/test_log.py
Labels: api change

#580 [Core] Use Str typedef alias throughout
  resources/perftest/perftest.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.hpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/BatchElementError.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/include/openassetio/typedefs.hpp
  src/openassetio-core/log/SeverityFilter.cpp
  src/openassetio-core/managerApi/ManagerInterface.cpp
  src/openassetio-python/module/hostApi/ManagerFactoryBinding.cpp
  src/openassetio-python/module/managerApi/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/managerApi/CManagerInterfaceAdapterTest.cpp
  tests/openassetio-core/BatchElementErrorTest.cpp
Labels: C++

#581 [Release] Bump version to 1.0.0-alpha.2
  RELEASE_NOTES.md
  resources/codegen/setup.py
  setup.py
Labels: release

#583 [Core] Fix `Manager.resolve` Python bindings
  RELEASE_NOTES.md
  doc/src/EntitiesTraitsSpecifications.dox
  doc/src/ForHosts.dox
  python/openassetio/hostApi/Manager.py
  src/openassetio-core/include/openassetio/EntityReference.hpp
  src/openassetio-python/module/EntityReferenceBinding.cpp
  src/openassetio-python/module/hostApi/ManagerBinding.cpp
  src/openassetio-python/module/managerApi/ManagerInterfaceBinding.cpp
  tests/python/openassetio/hostApi/test_manager.py
  tests/python/openassetio/test_entityreference.py
Labels: bug

#584 [Release] Bump version to 1.0.0-alpha.3
  RELEASE_NOTES.md
  resources/codegen/setup.py
  setup.py
Labels: release

#590 [Tests] Add checks for source of `Manager` implementation
  tests/python/openassetio/hostApi/test_manager.py
Labels: test

#591 [Core] Add `kEntityAccessError` to `BatchElementError`
  RELEASE_NOTES.md
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  src/openassetio-core/include/openassetio/BatchElementError.hpp
  src/openassetio-core/include/openassetio/errors.h
  src/openassetio-python/module/BatchElementErrorBinding.cpp
  tests/python/openassetio/test_batchelementerror.py
Labels: api change

#598 [CI] Update Conan version to 1.51.3
  resources/build/requirements.txt
Labels: ci

#593 [Core] Migrate `preflight`/`register` to callbacks
  RELEASE_NOTES.md
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
Labels: api change, Python
