Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2022-12, with the labels that each got.

#759 [Release] Bump version to 1.0.0-alpha.7
  RELEASE_NOTES.md
  src/openassetio-python/pyproject.toml
Labels: on hold, release

#781 Remove traits
  RELEASE_NOTES.md
  doc/doxygen/src/Examples.dox
  doc/doxygen/src/ForManagers.dox
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-python/package/openassetio/traits/__init__.py
  src/openassetio-python/package/openassetio/traits/managementPolicy.py
  src/openassetio-python/tests/package/test_imports.py
  src/openassetio-python/tests/package/traits/test_managementpolicy.py
Labels: on hold

#789 [CI] Block PyPI deploy whilst wheels are building
  .github/workflows/build-wheels.yml
  .github/workflows/deploy-pypi.yml
Labels: ci

#790 [Release] Bump version to 1.0.0-alpha.8
  RELEASE_NOTES.md
  src/openassetio-python/pyproject.toml
Labels: release
