Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2022-07, with the labels that each got.

#500 [Core] Forward declare shared_ptr-to-const aliases
  src/openassetio-core/include/openassetio/typedefs.hpp
Labels: C++

#497 Switch `managementPolicy` to returning traits
  RELEASE_NOTES.md
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Thumbnails.dox
  python/openassetio/constants.py
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  python/openassetio/traits/__init__.py
  python/openassetio/traits/managementPolicy.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/bal.py
  resources/examples/manager/BasicAssetLibrary/schema.json
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  resources/examples/manager/BasicAssetLibrary/tests/resources/library_business_logic_suite_customManagementPolicy.json
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  src/openassetio-python/CMakeLists.txt
  tests/python/openassetio/test/manager/resources/plugins/StubManager.py
  tests/python/openassetio/test/manager/test_harness.py
  tests/python/openassetio/traits/test_managementpolicy.py
Labels: api change, Python

#495 C++ Factory methods
  RELEASE_NOTES.md
  contributing/CODING_STANDARDS.md
  resources/perftest/lib.cpp
  resources/perftest/perftest.cpp
  src/openassetio-core-c/private/hostApi/Manager.cpp
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/Context.cpp
  src/openassetio-core/TraitsData.cpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/Context.hpp
  src/openassetio-core/include/openassetio/TraitsData.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/Host.hpp
  src/openassetio-core/include/openassetio/managerApi/HostSession.hpp
  src/openassetio-core/include/openassetio/typedefs.hpp
  src/openassetio-core/managerApi/Host.cpp
  src/openassetio-core/managerApi/HostSession.cpp
  src/openassetio-python/ContextBinding.cpp
  src/openassetio-python/TraitsDataBinding.cpp
  src/openassetio-python/hostApi/ManagerBinding.cpp
  src/openassetio-python/managerApi/HostBinding.cpp
  src/openassetio-python/managerApi/HostSessionBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/openassetio-core/CMakeLists.txt
  tests/openassetio-core/ContextTest.cpp
  tests/openassetio-core/TraitsDataTest.cpp
  tests/openassetio-core/hostApi/ManagerTest.cpp
  tests/openassetio-core/managerApi/HostSessionTest.cpp
  tests/openassetio-core/managerApi/HostTest.cpp
  tests/openassetio-core/trait/TraitBaseTest.cpp
Labels: api change, C++

#501 [Core] Migrate managementPolicy to C++
  RELEASE_NOTES.md
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Glossary.dox
  doc/src/Thumbnails.dox
  python/openassetio/hostApi/Manager.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  python/openassetio/traits/managementPolicy.py
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.hpp
  src/openassetio-core/TraitsData.cpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/TraitsData.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/include/openassetio/trait/collection.hpp
  src/openassetio-python/TraitsDataBinding.cpp
  src/openassetio-python/hostApi/ManagerBinding.cpp
  src/openassetio-python/managerApi/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/openassetio-core/TraitsDataTest.cpp
  tests/python/openassetio/hostApi/test_manager.py
Labels: C++

#512 [Core] Rework ManagerInterface initialization
  RELEASE_NOTES.md
  python/openassetio/hostApi/Manager.py
  python/openassetio/hostApi/Session.py
  python/openassetio/managerApi/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/bal.py
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  resources/examples/manager/BasicAssetLibrary/tests/fixtures.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.hpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/managerApi/ManagerInterface.cpp
  src/openassetio-python/hostApi/ManagerBinding.cpp
  src/openassetio-python/managerApi/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_manager.py
  tests/python/openassetio/hostApi/test_session.py
  tests/python/openassetio/test/manager/resources/plugins/StubManager.py
  tests/python/openassetio/test/manager/resources/suite_executeSuiteTests.py
Labels: C++

#513 [Core] Minimal C++ logging interface
  RELEASE_NOTES.md
  python/openassetio/_core/debug.py
  python/openassetio/log.py
  python/openassetio/managerApi/HostSession.py
  python/openassetio/managerApi/ManagerInterface.py
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/LoggerInterface.cpp
  src/openassetio-core/include/openassetio/Context.hpp
  src/openassetio-core/include/openassetio/LoggerInterface.hpp
  src/openassetio-core/include/openassetio/enum.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/LoggerInterfaceBinding.cpp
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  tests/python/openassetio/managerApi/test_hostsession.py
  tests/python/openassetio/test_log.py
Labels: C++

#517 [Docs] Add missing release notes
  RELEASE_NOTES.md
Labels: documentation

#519 [Core] Migrate `ManagerInterfaceFactoryInterface` to C++
  RELEASE_NOTES.md
  python/openassetio/hostApi/ManagerInterfaceFactoryInterface.py
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/hostApi/ManagerInterfaceFactoryInterface.cpp
  src/openassetio-core/include/openassetio/hostApi/ManagerInterfaceFactoryInterface.hpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  src/openassetio-python/hostApi/ManagerInterfaceFactoryInterfaceBinding.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_managerinterfacefactoryinterface.py
  tests/python/openassetio/hostApi/test_session.py
  tests/python/openassetio/managerApi/test_hostsession.py
  tests/python/openassetio/pluginSystem/test_pluginsystemmanagerinterfacefactory.py
  tests/python/openassetio/test/manager/conftest.py
  tests/python/openassetio/test_log.py
Labels: C++

#515 [Build] Reduce Python install time for tests
  src/openassetio-python/CMakeLists.txt
Labels: test

#523 [Core] Add and use `PyRetainingSharedPtr`
  RELEASE_NOTES.md
  contributing/CODING_STANDARDS.md
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/ContextBinding.cpp
  src/openassetio-python/PyRetainingSharedPtr.hpp
  src/openassetio-python/_openassetio.hpp
  src/openassetio-python/hostApi/ManagerBinding.cpp
  src/openassetio-python/hostApi/ManagerInterfaceFactoryInterfaceBinding.cpp
  src/openassetio-python/managerApi/HostBinding.cpp
  src/openassetio-python/managerApi/ManagerInterfaceBinding.cpp
  tests/CMakeLists.txt
  tests/openassetio-python/CMakeLists.txt
  tests/openassetio-python/_openassetio_test.cpp
  tests/python/openassetio/hostApi/test_manager.py
  tests/python/openassetio/test_context.py
  tests/python/openassetio_test/test_PyRetainingSharedPtr.py
Labels: Python

#522 [Core] Add ManagerFactory
  RELEASE_NOTES.md
  python/openassetio/hostApi/ManagerFactory.py
  python/openassetio/hostApi/__init__.py
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerApi/CManagerInterfaceAdapter.hpp
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/hostApi/ManagerFactory.cpp
  src/openassetio-core/include/openassetio/hostApi/HostInterface.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/hostApi/ManagerFactory.hpp
  src/openassetio-core/include/openassetio/hostApi/ManagerInterfaceFactoryInterface.hpp
  src/openassetio-core/include/openassetio/managerApi/Host.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/include/openassetio/typedefs.hpp
  src/openassetio-core/managerApi/Host.cpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  src/openassetio-python/hostApi/HostInterfaceBinding.cpp
  src/openassetio-python/hostApi/ManagerFactoryBinding.cpp
  src/openassetio-python/hostApi/ManagerInterfaceFactoryInterfaceBinding.cpp
  src/openassetio-python/managerApi/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/hostApi/ManagerTest.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostApi/test_managerfactory.py
  tests/python/openassetio/test_imports.py
Labels: C++

#525 [Core] Remove `Session` class
  RELEASE_NOTES.md
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Glossary.dox
  doc/src/MainPage.dox
  python/openassetio/constants.py
  python/openassetio/hostApi/Manager.py
  python/openassetio/hostApi/Session.py
  python/openassetio/hostApi/__init__.py
  python/openassetio/pluginSystem/PluginSystemManagerInterfaceFactory.py
  python/openassetio/test/manager/_implementation.py
  python/openassetio/test/manager/harness.py
  src/openassetio-core/include/openassetio/hostApi/HostInterface.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  tests/python/openassetio/hostApi/test_session.py
  tests/python/openassetio/test/manager/conftest.py
  tests/python/openassetio/test/manager/resources/suite_executeSuiteTests.py
  tests/python/openassetio/test/manager/test__implementation.py
  tests/python/openassetio/test/manager/test_harness.py
  tests/python/openassetio/test/manager/test_main.py
  tests/python/openassetio/test_imports.py
Labels: api change

#535 [Core] Remove legacy methods in `ManagerInterfaceFactoryInterface`
  RELEASE_NOTES.md
  python/openassetio/hostApi/ManagerInterfaceFactoryInterface.py
  python/openassetio/hostApi/__init__.py
  python/openassetio/pluginSystem/PluginSystemManagerInterfaceFactory.py
  tests/python/openassetio/hostApi/test_managerfactory.py
Labels: api change

#537 [Core] Swap `LoggerInterface::log` arguments
  RELEASE_NOTES.md
  python/openassetio/log.py
  python/openassetio/managerApi/HostSession.py
  python/openassetio/pluginSystem/PluginSystem.py
  python/openassetio/pluginSystem/PluginSystemManagerImplementationFactory.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  src/openassetio-core/include/openassetio/LoggerInterface.hpp
  src/openassetio-python/LoggerInterfaceBinding.cpp
  tests/python/conftest.py
  tests/python/openassetio/managerApi/test_hostsession.py
  tests/python/openassetio/pluginSystem/test_pluginsystemmanagerimplementationfactory.py
  tests/python/openassetio/test_log.py
Labels: api change

#540 [Tests] Fix conan install of cpython
  resources/build/bootstrap-ubuntu-20.04.sh
  resources/build/requirements.txt
Labels: test, build

#529 Add `openassetio-codegen` tool
  resources/codegen/.editorconfig
  resources/codegen/.gitignore
  resources/codegen/MANIFEST.in
  resources/codegen/README.md
  resources/codegen/pyproject.toml
  resources/codegen/python/openassetio_codegen/__init__.py
  resources/codegen/python/openassetio_codegen/__main__.py
  resources/codegen/python/openassetio_codegen/datamodel.py
  resources/codegen/python/openassetio_codegen/generators/__init__.py
  resources/codegen/python/openassetio_codegen/generators/helpers.py
  resources/codegen/python/openassetio_codegen/generators/python.py
  resources/codegen/python/openassetio_codegen/parser.py
  resources/codegen/python/openassetio_codegen/schema.json
  resources/codegen/python/openassetio_codegen/templates/python/__init__.py.in
  resources/codegen/python/openassetio_codegen/templates/python/specifications.py.in
  resources/codegen/python/openassetio_codegen/templates/python/traits.py.in
  resources/codegen/requirements.txt
  resources/codegen/setup.py
  resources/codegen/tests/conftest.py
  resources/codegen/tests/generators/test_helpers.py
  resources/codegen/tests/generators/test_python.py
  resources/codegen/tests/requirements.txt
  resources/codegen/tests/resources/invalid.yaml
  resources/codegen/tests/resources/invalid_values.yaml
  resources/codegen/tests/resources/minimal.yaml
  resources/codegen/tests/resources/openassetio-codegen-test-all.yaml
  resources/codegen/tests/resources/openassetio-codegen-test-specifications-only.yaml
  resources/codegen/tests/resources/openassetio-codegen-test-traits-only.yaml
  resources/codegen/tests/resources/parser_load_test.yaml
  resources/codegen/tests/test___init__.py
  resources/codegen/tests/test___main__.py
  resources/codegen/tests/test_parser.py
  src/openassetio-python/CMakeLists.txt
  tests/openassetio-python/CMakeLists.txt
Labels: Python
