Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2022-03, with the labels that each got.

#239 Add `BasicAssetLibrary` example manager
  pyproject.toml
  python/openassetio/managerAPI/ManagerInterface.py
  python/openassetio/test/manager/__main__.py
  python/openassetio/test/manager/_implementation.py
  python/openassetio/test/manager/apiComplianceSuite.py
  python/openassetio/test/manager/harness.py
  resources/examples/manager/BasicAssetLibrary/README.md
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/__init__.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/bal.py
  resources/examples/manager/BasicAssetLibrary/schema.json
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  resources/examples/manager/BasicAssetLibrary/tests/conftest.py
  resources/examples/manager/BasicAssetLibrary/tests/fixtures.py
  resources/examples/manager/BasicAssetLibrary/tests/resources/library_apiComplianceSuite.json
  resources/examples/manager/BasicAssetLibrary/tests/test_bal.py
  resources/examples/manager/SampleAssetManager/tests/test_sam_apiCompliance.py
  tests/openassetio/test/manager/resources/fixtures_executeSuiteTests.py
  tests/openassetio/test/manager/resources/plugins/StubManager.py
  tests/openassetio/test/manager/resources/suite_executeSuiteTests.py
  tests/openassetio/test/manager/test__implementation.py
  tests/openassetio/test/manager/test_harness.py
Labels: test

#254 Misc BAL fixes
  resources/examples/manager/BasicAssetLibrary/README.md
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/bal.py
  resources/examples/manager/BasicAssetLibrary/tests/fixtures.py
Labels: examples

#244 [Build] Re-instate Windows tests
  .github/workflows/test.yml
  cmake/ThirdParty.cmake
  resources/build/bootstrap-windows-2019.bat
  src/openassetio-core/CMakeLists.txt
  src/openassetio-python/CMakeLists.txt
Labels: ci, build

#256 [Examples] Fix BAL JSON Schema URLs
  resources/examples/manager/BasicAssetLibrary/schema.json
  resources/examples/manager/BasicAssetLibrary/tests/resources/library_apiComplianceSuite.json
Labels: examples

#257 [CI] Avoid a couple of false-positives in C++ linters
  .clang-tidy
  cmake/StaticAnalyzers.cmake
  contributing/CODING_STANDARDS.md
  resources/build/bootstrap-ubuntu-20.04.sh
  src/CPPLINT.cfg
Labels: ci

#261 [Core] Remove the host document API
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  python/openassetio/hostAPI/HostInterface.py
  python/openassetio/managerAPI/Host.py
  tests/openassetio/managerAPI/test_host.py
Labels: api change

#262 [Core] Improve context thawing API
  python/openassetio/hostAPI/transactions.py
  tests/openassetio/hostAPI/test_transactions.py
Labels: api change

#267 [CI] Pin versions for dco check actions
  .github/workflows/commit-checks.yml
Labels: ci

#263 [Core] Rename `Manager.entityVersionName`
  contributing/CODING_STANDARDS.md
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/managerAPI/test_managerinterface.py
Labels: api change

#275 [Core] Bump pybind11 version to 2.8.1
  resources/build/conanfile.txt
Labels: C++, build

#273 [Lint] clang-format preserve #include groups
  .clang-format
Labels: ci, C++

#274 [CI] LD_PRELOAD libopenassetio if ASan enabled
  src/openassetio-python/CMakeLists.txt
Labels: ci, C++

#278 [Build] Fix `ctest` invocation of `pytest`
  src/openassetio-python/CMakeLists.txt
Labels: test, build

#279 [Tests] Ensures `test.manager` checks use correct interpreter
  tests/openassetio/test/manager/test_main.py
Labels: test

#255 [Core] Add specification/trait C++ implementation
  doc/Doxyfile
  python/openassetio/__init__.py
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/include/openassetio/specification/Specification.hpp
  src/openassetio-core/include/openassetio/trait/BlobTrait.hpp
  src/openassetio-core/include/openassetio/trait/TraitBase.hpp
  src/openassetio-core/include/openassetio/trait/property.hpp
  src/openassetio-core/specification/Specification.cpp
  src/openassetio-core/trait/BlobTrait.cpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  src/openassetio-python/managerAPI/ManagerInterfaceBinding.cpp
  src/openassetio-python/specification/SpecificationBinding.cpp
  src/openassetio-python/trait/BlobTraitBinding.cpp
  tests/openassetio/test_traits.py
Labels: C++

#238 [Docs] Add hierarchical or compositional specifications decision record
  decisions/DR007-Hierarchical-or-compositional-traits-for-specifications.md
Labels: decision record

#270 [Core] Core API performance test harness
  CMakeLists.txt
  resources/perftest/CMakeLists.txt
  resources/perftest/README.md
  resources/perftest/perftest.cpp
Labels: on hold, test, C++

#253 [Docs] Add decision record to unify entity data model
  decisions/DR008-Unify-the-entity-data-model.md
Labels: decision record

#288 [Docs] Add link to working group meetings in Getting Involved section.
  README.md
Labels: documentation

#295 [Core] Migrate `ManagerInterface` `identifier` and `displayName` to C++
  doc/Doxyfile
  doc/Makefile
  doc/src/ForManagers.dox
  doc/src/Testing.dox
  python/openassetio/managerAPI/ManagerInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/__init__.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/__init__.py
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
  src/openassetio-core/include/openassetio/trait/property.hpp
  src/openassetio-core/include/openassetio/typedefs.hpp
  src/openassetio-python/managerAPI/ManagerInterfaceBinding.cpp
  tests/openassetio/managerAPI/test_managerinterface.py
  tests/openassetio/test/manager/resources/plugins/StubManager.py
Labels: api change, C++

#301 [Core] Add `Specifications::traitIDs` method
  src/openassetio-core/include/openassetio/specification/Specification.hpp
  src/openassetio-core/specification/Specification.cpp
  src/openassetio-python/specification/SpecificationBinding.cpp
  tests/openassetio/test_traits.py
Labels: api change, C++

#304 [Docs] Update status of DR008 to decided
  decisions/DR008-Unify-the-entity-data-model.md
Labels: decision record

#297 [Core] Migrate `defaultEntityReference` to use trait sets
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/managerAPI/test_managerinterface.py
Labels: api change, Python

#305 [Core] Switch `TraitIDs` to `unordered_set`
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  src/openassetio-core/include/openassetio/specification/Specification.hpp
  src/openassetio-core/specification/Specification.cpp
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/test_traits.py
Labels: api change, C++

#296 [Core] Migrate `managementPolicy` to use trait sets
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/Glossary.dox
  doc/src/Thumbnails.dox
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  python/openassetio/test/manager/apiComplianceSuite.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  resources/examples/manager/SampleAssetManager/python/SampleAssetManager/SampleAssetManagerInterface.py
  tests/openassetio/hostAPI/test_manager.py
  tests/openassetio/test/manager/resources/plugins/StubManager.py
Labels: api change, Python

#302 [Lint] Add other build artifacts to `.gitignore`
  .gitignore
Labels: build
