Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2022-06, with the labels that each got.

#429 [Build] Update bootstrap script to use clang-tidy-12
  .github/workflows/code-quality.yml
  CMakeLists.txt
  CMakePresets.json
  RELEASE_NOTES.md
  resources/build/bootstrap-ubuntu-20.04.sh
Labels: ci, build

#428 Remove Transactions API
  RELEASE_NOTES.md
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Glossary.dox
  doc/src/ManagerState.dox
  doc/src/Transactions.dox
  python/openassetio/Context.py
  python/openassetio/hostAPI/Manager.py
  python/openassetio/hostAPI/Session.py
  python/openassetio/hostAPI/transactions.py
  python/openassetio/managerAPI/ManagerInterface.py
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
  tests/python/conftest.py
  tests/python/openassetio/hostAPI/test_session.py
  tests/python/openassetio/hostAPI/test_transactions.py
  tests/python/openassetio/test_imports.py
Labels: api change

#422 Add `Host`/`HostInterface` to C++
  RELEASE_NOTES.md
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/Glossary.dox
  doc/src/MainPage.dox
  python/openassetio/hostAPI/HostInterface.py
  python/openassetio/hostAPI/Session.py
  python/openassetio/hostAPI/__init__.py
  python/openassetio/managerAPI/Host.py
  python/openassetio/managerAPI/HostSession.py
  python/openassetio/managerAPI/__init__.py
  python/openassetio/test/manager/_implementation.py
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/hostAPI/HostInterface.cpp
  src/openassetio-core/include/openassetio/hostAPI/HostInterface.hpp
  src/openassetio-core/include/openassetio/managerAPI/Host.hpp
  src/openassetio-core/managerAPI/Host.cpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  src/openassetio-python/hostAPI/HostInterfaceBinding.cpp
  src/openassetio-python/managerAPI/HostBinding.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostAPI/test_session.py
  tests/python/openassetio/managerAPI/test_host.py
  tests/python/openassetio/test/manager/resources/fixtures_cliFail.py
  tests/python/openassetio/test/manager/resources/fixtures_cliPass.py
  tests/python/openassetio/test/manager/resources/plugins/StubManager.py
  tests/python/openassetio/test/manager/resources/suite_executeSuiteTests.py
Labels: C++

#425 Add HostSession to C++
  RELEASE_NOTES.md
  python/openassetio/managerAPI/HostSession.py
  src/openassetio-core/CMakeLists.txt
  src/openassetio-core/include/openassetio/managerAPI/Host.hpp
  src/openassetio-core/include/openassetio/managerAPI/HostSession.hpp
  src/openassetio-core/managerAPI/HostSession.cpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  src/openassetio-python/managerAPI/HostBinding.cpp
  src/openassetio-python/managerAPI/HostSessionBinding.cpp
  tests/python/openassetio/managerAPI/test_hostsession.py
Labels: C++

#435 [Llint] Add `flake8` config to `pyproject.toml`
  pyproject.toml
Labels: build

#436 Move Context management functions to `Manager`
  RELEASE_NOTES.md
  doc/src/Examples.dox
  doc/src/ManagerState.dox
  python/openassetio/Context.py
  python/openassetio/hostAPI/Manager.py
  python/openassetio/hostAPI/Session.py
  python/openassetio/managerAPI/ManagerInterface.py
  python/openassetio/test/manager/harness.py
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
  tests/python/openassetio/hostAPI/test_manager.py
  tests/python/openassetio/hostAPI/test_session.py
Labels: api change, Python

#444 Move `Context` to C++
  .clang-tidy
  RELEASE_NOTES.md
  doc/src/EntitiesTraitsSpecifications.dox
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Glossary.dox
  doc/src/ManagerState.dox
  python/openassetio/Context.py
  python/openassetio/__init__.py
  python/openassetio/exceptions.py
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  src/openassetio-core/include/openassetio/Context.hpp
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
  src/openassetio-python/CMakeLists.txt
  src/openassetio-python/ContextBinding.cpp
  src/openassetio-python/_openassetio.cpp
  src/openassetio-python/_openassetio.hpp
  tests/python/openassetio/hostAPI/test_manager.py
  tests/python/openassetio/test_context.py
Labels: api change, C++

#443 Use shared ptrs for Python/C bindings
  contributing/CODING_STANDARDS.md
  contributing/CODING_STYLE.md
  contributing/PROCESS.md
  src/openassetio-core-c/private/handles/hostAPI/Manager.hpp
  src/openassetio-core-c/private/hostAPI/Manager.cpp
  src/openassetio-core/include/openassetio/hostAPI/Manager.hpp
  src/openassetio-core/include/openassetio/managerAPI/HostSession.hpp
  src/openassetio-python/hostAPI/ManagerBinding.cpp
  src/openassetio-python/managerAPI/HostSessionBinding.cpp
  tests/openassetio-core-c/private/hostAPI/ManagerTest.cpp
Labels: api change

#450 Pass `HostSession` to C++ `Manager` during construction
  python/openassetio/hostAPI/Manager.py
  src/openassetio-core-c/include/openassetio/c/hostAPI/Manager.h
  src/openassetio-core-c/include/openassetio/c/managerAPI/HostSession.h
  src/openassetio-core-c/private/handles/managerAPI/HostSession.hpp
  src/openassetio-core-c/private/hostAPI/Manager.cpp
  src/openassetio-core/hostAPI/Manager.cpp
  src/openassetio-core/include/openassetio/hostAPI/Manager.hpp
  src/openassetio-python/hostAPI/ManagerBinding.cpp
  tests/openassetio-core-c/private/hostAPI/ManagerTest.cpp
  tests/python/conftest.py
  tests/python/openassetio/hostAPI/test_manager.py
  tests/python/openassetio/hostAPI/test_terminology.py
Labels: api change, C++, C

#464 [Core] Split `Manager.createContext`
  RELEASE_NOTES.md
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  src/openassetio-core/include/openassetio/Context.hpp
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
  tests/python/openassetio/hostAPI/test_manager.py
Labels: api change, Python

#465 [Core] Migrate Manager.initialize() to C++
  RELEASE_NOTES.md
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  src/openassetio-core-c/CMakeLists.txt
  src/openassetio-core-c/private/managerAPI/CManagerInterfaceAdapter.cpp
  src/openassetio-core-c/private/managerAPI/CManagerInterfaceAdapter.hpp
  src/openassetio-core/hostAPI/Manager.cpp
  src/openassetio-core/include/openassetio/hostAPI/Manager.hpp
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
  src/openassetio-python/hostAPI/ManagerBinding.cpp
  src/openassetio-python/managerAPI/ManagerInterfaceBinding.cpp
  tests/openassetio-core-c/private/hostAPI/ManagerTest.cpp
  tests/python/openassetio/hostAPI/test_manager.py
Labels: C++

#467 [Core] Rename context persistence methods
  RELEASE_NOTES.md
  doc/src/Glossary.dox
  doc/src/ManagerState.dox
  python/openassetio/hostAPI/Manager.py
  python/openassetio/managerAPI/ManagerInterface.py
  tests/python/conftest.py
  tests/python/openassetio/hostAPI/test_manager.py
Labels: api change, Python

#475 [CI] Temporarily disable macOS CI due to pybind issue
  .github/workflows/test.yml
Labels: ci

#474 [Examples] Support custom `managementPolicy` responses in BAL
  RELEASE_NOTES.md
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/BasicAssetLibraryInterface.py
  resources/examples/manager/BasicAssetLibrary/plugin/BasicAssetLibrary/bal.py
  resources/examples/manager/BasicAssetLibrary/schema.json
  resources/examples/manager/BasicAssetLibrary/tests/bal_business_logic_suite.py
  resources/examples/manager/BasicAssetLibrary/tests/resources/library_business_logic_suite_customManagementPolicy.json
Labels: examples

#477 [Docs] Conform use of `fqref`
  doc/src/EntitiesTraitsSpecifications.dox
  doc/src/Examples.dox
  doc/src/ForHosts.dox
  doc/src/ForManagers.dox
  doc/src/Glossary.dox
  doc/src/MainPage.dox
  doc/src/ManagerState.dox
  doc/src/Testing.dox
  python/openassetio/Trait.py
  python/openassetio/hostAPI/Manager.py
  python/openassetio/hostAPI/ManagerFactoryInterface.py
  python/openassetio/hostAPI/Session.py
  python/openassetio/hostAPI/__init__.py
  python/openassetio/managerAPI/HostSession.py
  python/openassetio/managerAPI/ManagerInterface.py
  python/openassetio/pluginSystem/PluginSystemManagerFactory.py
  python/openassetio/test/manager/_implementation.py
  src/openassetio-core-c/include/openassetio/c/hostAPI/Manager.h
  src/openassetio-core-c/include/openassetio/c/managerAPI/CManagerInterface.h
  src/openassetio-core-c/include/openassetio/c/managerAPI/HostSession.h
  src/openassetio-core-c/include/openassetio/c/managerAPI/ManagerInterface.h
  src/openassetio-core/include/openassetio/InfoDictionary.hpp
  src/openassetio-core/include/openassetio/managerAPI/Host.hpp
  src/openassetio-core/include/openassetio/managerAPI/HostSession.hpp
  src/openassetio-core/include/openassetio/managerAPI/ManagerInterface.hpp
Labels: documentation

#480 [Docs] Document TraitsData value retrieval API decision
  decisions/DR010-TraitsData-value-retrieval-API.md
Labels: decision record

#485 [Core] Add and use forward declaration macros
  contributing/CODING_STANDARDS.md
  resources/perftest/perftest.cpp
  src/openassetio-core/hostApi/Manager.cpp
  src/openassetio-core/include/openassetio/Context.hpp
  src/openassetio-core/include/openassetio/TraitsData.hpp
  src/openassetio-core/include/openassetio/hostApi/HostInterface.hpp
  src/openassetio-core/include/openassetio/hostApi/Manager.hpp
  src/openassetio-core/include/openassetio/managerApi/Host.hpp
  src/openassetio-core/include/openassetio/managerApi/HostSession.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerInterface.hpp
  src/openassetio-core/include/openassetio/managerApi/ManagerStateBase.hpp
  src/openassetio-core/include/openassetio/typedefs.hpp
  src/openassetio-python/ContextBinding.cpp
  src/openassetio-python/hostApi/ManagerBinding.cpp
  src/openassetio-python/managerApi/HostBinding.cpp
Labels: C++
