Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2023-04, with the labels that each got.

#872 [Examples] Clarify use of ConsoleLogger in simpleResolver
  examples/host/simpleResolver/simpleResolver.py
Labels: examples

#868 Remove `entityName` and `entityDisplayName`
  RELEASE_NOTES.md
  doc/doxygen/src/ForManagers.dox
  src/openassetio-python/package/openassetio/hostApi/Manager.py
  src/openassetio-python/package/openassetio/managerApi/ManagerInterface.py
  src/openassetio-python/tests/conftest.py
  src/openassetio-python/tests/package/hostApi/test_manager.py
Labels: api change

#874 Fix clang-tidy v15 warnings
  RELEASE_NOTES.md
  cmake/StaticAnalyzers.cmake
  src/openassetio-core-c/.clang-tidy
  src/openassetio-core-c/src/InfoDictionary.cpp
  src/openassetio-core-c/src/errors.hpp
  src/openassetio-core-c/src/hostApi/Manager.cpp
  src/openassetio-core-c/tests/.clang-tidy
  src/openassetio-core-c/tests/InfoDictionaryTest.cpp
  src/openassetio-core-c/tests/StringViewReporting.hpp
  src/openassetio-core-c/tests/StringViewTest.cpp
  src/openassetio-core-c/tests/errorsTest.cpp
  src/openassetio-core-c/tests/hostApi/ManagerTest.cpp
  src/openassetio-core-c/tests/managerApi/CManagerInterfaceAdapterTest.cpp
  src/openassetio-core-c/tests/managerApi/MockManagerInterfaceSuite.hpp
  src/openassetio-core/include/openassetio/errors.h
  src/openassetio-core/src/hostApi/ManagerFactory.cpp
  src/openassetio-core/src/log/SeverityFilter.cpp
  src/openassetio-core/tests/BatchElementErrorTest.cpp
  src/openassetio-core/tests/TraitsDataTest.cpp
  src/openassetio-core/tests/managerApi/ManagerStateBaseTest.cpp
  src/openassetio-core/tests/trait/TraitBaseTest.cpp
  src/openassetio-python/bridge/src/python/hostApi.cpp
  src/openassetio-python/cmodule/src/_openassetio.cpp
  src/openassetio-python/private/include/openassetio/private/python/pointers.hpp
  src/openassetio-python/tests/bridge/main.cpp
  src/openassetio-python/tests/bridge/python/test_hostApi.cpp
Labels: C++, C

#881 [Core] Add eq comparison to BatchElementError
  RELEASE_NOTES.md
  src/openassetio-core/include/openassetio/BatchElementError.hpp
  src/openassetio-core/tests/BatchElementErrorTest.cpp
  src/openassetio-core/tests/hostApi/ManagerTest.cpp
  src/openassetio-python/cmodule/src/BatchElementErrorBinding.cpp
  src/openassetio-python/tests/package/hostApi/test_manager.py
  src/openassetio-python/tests/package/test_batchelementerror.py
Labels: wip

#895 [Release] Bump version to v1.0.0-alpha.10
  RELEASE_NOTES.md
  src/openassetio-python/pyproject.toml
Labels: release

#894 Support Python 3.11
  .github/workflows/build-wheels.yml
  RELEASE_NOTES.md
  src/openassetio-python/pyproject.toml
  src/openassetio-python/tests/bridge/CMakeLists.txt
  src/openassetio-python/tests/package/hostApi/test_managerimplementationfactoryinterface.py
  src/openassetio-python/tests/package/test/manager/test_main.py
  src/openassetio-python/tests/package/test_batchelementerror.py
Labels: build, Python

#901 Remove `setRelatedReferences`
  RELEASE_NOTES.md
  doc/doxygen/src/ForManagers.dox
  src/openassetio-python/package/openassetio/hostApi/Manager.py
  src/openassetio-python/package/openassetio/managerApi/ManagerInterface.py
  src/openassetio-python/tests/conftest.py
Labels: api change
