Repository OpenAssetIO/OpenAssetIO, pull requests merged in 2023-02, with the labels that each got.

#821 [CI] Fix CI for latest version of Conan/recipes
  .github/workflows/code-quality.yml
  resources/build/bootstrap-cibuildwheel-manylinux-2014.sh
  resources/build/bootstrap-macos-10.15.sh
  resources/build/bootstrap-macos-11.sh
  resources/build/bootstrap-ubuntu-20.04.sh
  resources/build/bootstrap-windows-2019.bat
  resources/build/conanfile.py
  resources/build/requirements.txt
Labels: ci

#792 [Docs] Add DR covering canonical use of `managementPolicy`
  doc/decisions/DR014-Management-policy-responses.md
Labels: decision record

#818 `TraitBase` `isImbued` and `isImbuedTo`
  RELEASE_NOTES.md
  doc/doxygen/src/Examples.dox
  src/openassetio-core/include/openassetio/trait/TraitBase.hpp
  src/openassetio-core/tests/trait/TraitBaseTest.cpp
  src/openassetio-python/package/openassetio/TraitBase.py
  src/openassetio-python/tests/package/test_trait.py
Labels: api change, C++, Python
